@media (max-width: 767px)
#sale_message_box {
    position: absolute;
    top: 51px;
}

#sale_message_box {
    position: fixed;
    width: 100%;
    height: auto;
    left: 0px;
    top: 0px;
    background-color: #e5e5e5;
    font-family: 'Noto Sans TC','微軟正黑體',Arial;
    color: #7a7a7a;
    text-align: center;
    font-size: 16px;
    padding: 6px 0px;
    letter-spacing: 5px;
    z-index: 100;
    min-width: 360px;
}
